# Eclipse
/bin
/.classpath
/.project
/.settings

# Gradle
/build
/.gradle

# Various other build files
/build.xml
/dist
/manifest.mf

# Windows
Thumbs.db
Desktop.ini

# vim
.*.sw[a-p]

# Mac
.DS_Store

# netbeans
/nbproject

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
